.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 5px 0 #e5e5e5;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: clamp(300px, calc(100% - 20px), 1500px);
  
}

.navbar-logo {
  color: rgb(255, 255, 255);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-logo>img {
  height: 3rem;
}

.nav-item {
  list-style: none;
  border: 2px solid #8a4af3;
  box-shadow: 2px 2px 0px 0px #8beaa1;
  border-radius: 2px;
}

.nav-item>a {
  color: #8a4af3;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-item:hover {
  box-shadow: none;
}


